.calendar-container {
    text-align: center;
    margin-top: 20px;
}

.calendar-plan-date {
    width: 100%;
    margin-bottom: 40px;
}

.shop-list-item {
    background-color: #ffffffcc;
    padding: 20px;
}

svg {
    cursor: pointer;
}