body {
  background-color: #166866;
}
.sidebar {
  padding: 20px;
  width: 250px;
  background-color: #166866;
  color: #fff;
  height: 100vh;
    position: fixed;
}

.side-item {
  padding: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .side-item:hover {
    background-color: #2c323a55;
  }
  
  
    .side-item {
    border-bottom: 1px solid #40454c;
    margin: 10px 0px;
  }
  
  .sidebar.flex.column {
    margin-top: 53px;
}