
.navbar {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
}


.search-input {
    padding: 8px;
    border: none;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    margin-left: 8px;
}

.user-info {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}