.full-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.recipe-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
    display: flex;
        flex-direction: column;
}

.recipe-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.recipe-details {
    font-size: 16px;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.recipe-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: rgba(174, 151, 151, 0.601);
    border-radius: 50%;

}
.open {
    align-self: flex-end;
}

.right-side {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 600px;
    display: flex;
    justify-content: space-between;
    height: 85%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.calendar {
    display: flex;
    flex-direction: column;
}

.comment-section {
    flex: 1;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: auto;
    height: 500px;
}

.comment {
    border: 1px solid black;
    padding: 5px;
    width: 100%;
}

.user-comment {
    color: blue;
    font-weight: 500;
    margin: 5px;
}

.content-comment {
    margin: 5px 5px 5px 15px;
}

.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 500px;

}

#add-comment {}